<%- include('../partials/head', {styles:['allProducts', 'headerfooter']}) %>
  <body>
    <%- include('../partials/header') %>
    <main class="main-home">
      <section class="home-section">
        <div class="title-section">
          <h2 class="title">LISTADO DE PRODUCTOS</h2>
          <a href="/products/create">
            <div class="add-product">
              <i class="fa-solid fa-plus"></i>
            </div>
          </a>
        </div>
        <div class="product">
        <% locals.products && products.forEach(product => { %>
          <article class="article-product">
            <img src="/img/products/<%= product.images[0]?.url || 'no-image.jpg' %>" class="img-product" alt="img-product" />
            <div class="description-box">
              <div class="favourite-icon-box">
                <i class="fa-regular fa-heart favourite-icon"></i>
              </div>
              <p class="description-text"><a href="/products/product-detail"><%= product.name %></a></p>
              <p class="bottom-text"><%= product.brand %></p>
              <p class="price">$<%= new Intl.NumberFormat('es-AR').format(product.price) %></p>
            </div>
            <a href="/products/<%= product.id %>" class="product-link"></a>
          </article>
        <% }) %>
        </div>

      </section>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
