<%- include('../partials/head', {styles:['createProduct', 'headerfooter'], title: 'Crear Producto'}) %>
<body>
    <%- include('../partials/header') %>
	<div class="containerForm">
		<div class="row">
			<div class="formTitle">
				<h1 class="products-title">Crear Producto</h2>
			</div>
		</div>
		<div class="formCreateP">
			<form class="form-box" action="/products/" method="POST" enctype="multipart/form-data">
				<div class="rowFormP">
					<div class="formName">
						<label for="name" class="form-label">Nombre del producto:</label>
						<input type="text" id="name" name="name" placeholder="Ej: Pelota Topper Retro II Campo" class="form-input" value="<%= locals.oldData?.name %>">
						<span id="name_error" class="error-span"><%= locals.errors?.name?.msg %></span>

					</div>
					<div class="formBrand">
						<label for="brands_id" class="form-label">Marca del producto:</label>
						<div class="form-select">

							<select name="brands_id" id="brands_id" class="form-input" required>
								<option value="">-</option>
								<% locals.brands && brands.forEach(brand => { %>
									<option value="<%= brand.id %>" <%=locals.oldData?.brands_id == brand.id && 'selected' %> ><%= brand.name %></option>
									<% }) %>
							</select>
							<div class="add-btn">
								<a href="/brands/create">
									<i class="fa-solid fa-plus"></i>
								</a>
							</div>
							<span id="brand_error" class="error-span"><%= locals.errors?.brands_id?.msg %></span>

						</div>
					</div>
					<div class="formCat">
						<label for="categories_id" class="form-label">Categoría:</label>
						<div class="form-select">
							<select name="categories_id" id="categories_id" class="form-input" required>
								<option value="">-</option>
								<% locals.categories && categories.forEach(category => { %>
									<option value="<%= category.id %>" <%=locals.oldData?.categories_id == category.id && 'selected' %> ><%= category.name %></option>
									<% }) %>
								</select>  
								<div class="add-btn">
									<a href="/categories/create">
										<i class="fa-solid fa-plus"></i>
									</a>
								</div>
							<span id="category_error" class="error-span"><%= locals.errors?.categories_id?.msg %></span>

						</div>
					</div>
					<div class="formPrice">
						<label for="price" class="form-label">Precio del producto ($):</label>
						<input type="text" id="price" name="price" placeholder="Ej: 5678" class="form-input" value="<%= locals.oldData?.price %>">
						<span id="price_error" class="error-span"><%= locals.errors?.price?.msg %></span>

					</div>
					<div class="formQuantity">
						<label for="quantity" class="form-label">Cantidad en stock:</label>
						<input type="text" id="quantity" name="quantity" placeholder="Ej: 99" class="form-input" value="<%= locals.oldData?.quantity %>">
						<span id="quantity_error" class="error-span"><%= locals.errors?.quantity?.msg %></span>
					</div>
					<div class="formDescription">
						<label for="description" class="form-label">Descripción:</label>
						<textarea name="description" id="description" class="form-input"><%= locals.oldData?.description %></textarea>
						<span id="description_error" class="error-span"><%= locals.errors?.description?.msg %></span>
					</div>

					<div class="formPicture">
						<label class="form-label" for="picture">Seleccione Foto de Producto:</label>
						<input class="picture" type="file" name="picture" id="picture" />
					</div>

					<div class="formCreateButton">
						<button type="submit" class="buy-now-button">Guardar producto</button>
					</div>
				</div>
			</form>
		</div>
	</div>
    <%- include('../partials/footer') %>
	<script src="/js/validations/validateCreateProduct.js"></script>
</body>	
</html>