<%- include('../partials/head', {styles:['product', 'headerfooter'], title: 'Detalle del producto'}) %>

<body>
  
  <%- include('../partials/header') %>
    
    <main class="main-detail">
        <h4 class="product-route"><a href="/">Inicio</a> > <a href="/products">Productos</a> >  <%= product.name %> </h4>
        <section class="detail-section">
          <div class="img-section">
            <img src="/img/products/<%= product.images[0].url || 'no-image.jpg' %>" class="product-img" alt="product-img">
            <div class="favourite-icon">
              <i class="far fa-heart fa-3x "></i>
            </div>
            <a href="/products/<%= product.id %>/edit">
              <div class="edit">
                <i class="fa-solid fa-pen-to-square"></i>
              </div>
            </a>
          </div>
          
          <div class="product-detail">
            <p class="title-text"><%= product.name %></p>
            <div class="share-icon">
              <i class="fas fa-share-alt fa-2x"></i>
            </div>
            
            <p class="price">$<%= new Intl.NumberFormat('es-AR').format(product.price) %></p>
            <p class="card-text">3 cuotas sin interes</p>
            <p class="bottom-text">Cantidad</p>
        
            <div class="counter">
              <button class="decrease">
                <i class="fa-solid fa-minus"></i>
              </button>
              <span class="value">1</span>
              <button class="increase">
                <i class="fa-solid fa-plus"></i>
              </button>
            </div>
        
            <button class="add-to-cart">AGREGAR AL CARRITO</button>
          </div>
        </section>

      <div class="description-box">
        <h2 class="description-title">Descripción</h2>
        <div class="arrow-up">
          <i class="fas fa-chevron-up fa-2x"></i>
        </div>
        <p><%= product.description %></p>
      </div>
      
      <div class="specifications-box">
        <h2 class="description-title">Especificaciones</h2>
        <div class="arrow-up">
          <i class="fas fa-chevron-up fa-2x"></i>
        </div>
        <div class="spec spec-grey">
          <div class="spec-type">Genero</div>
          <div>-</div>
        </div>
        <div class="spec">
          <div class="spec-type">Edad</div>
          <div>-</div>
        </div>
        <div class="spec spec-grey">
          <div class="spec-type">Marca</div>
          <div><%= product.brand.name || '-' %></div>
        </div>
        <div class="spec">
          <div class="spec-type">Disciplina</div>
          <div><%= product.category.name || '-' %></div>
        </div>
        <div class="spec spec-grey">
          <div class="spec-type">Color</div>
          <div>-</div>
        </div>
        <div class="spec">
          <div class="spec-type">Material</div>
          <div>-</div>
        </div>
      </div>
    </main>

    <%- include('../partials/footer') %>
</body>
</html>