<%- include('partials/head', {styles:['index', 'headerfooter']}) %>
  <body>
    <%- include('./partials/header') %>
    <main class="main-home">
      <img src="/img/banner.jpg" class="img-banner" alt="banner" />
      <section class="home-section">
        <h2 class="title">PRODUCTOS NUEVOS</h2>
        <div class="product">
        <% locals.products && products.forEach(product => { %>
          <article class="article-product">
            <img src="/img/products/<%= product.images[0].url || 'no-image.jpg' %>" class="img-product" alt="img-product" />
            <div class="description-box">
              <div class="favourite-icon-box">
                <i class="fa-regular fa-heart favourite-icon"></i>
              </div>
              <p class="description-text"><a href="/products/product-detail"><%= product.name %></a></p>
              <p class="bottom-text"><%= product.features %></p>
              <p class="price">$<%= new Intl.NumberFormat('es-AR').format(product.price) %></p>
            </div>
            <a href="/products/<%= product.id %>" class="product-link"></a>
          </article>
        <% }) %>
        </div>
        <div class="button-div">
          <a href="/products" class="button-show-all">MOSTRAR TODOS</a>
        </div>
      </section>
    </main>
    <%- include('./partials/footer') %>
  </body>
</html>
