<%- include('../partials/head', {styles:['login', 'account', 'headerfooter'], title: 'Ingresar'}) %>

<body>
  
  <%- include('../partials/header') %>

    <main class="main-login">
      <div class="login">
        <h1 class="login-heading">MI CUENTA</h1>

       <div class="account-info">
        <img class="profile-pic" src="/img/users/profile/<%=locals.user.avatar%>" alt="">
        <div class="account-data">
          <p>Nombre</p>
          <p class="data"><%= locals.user.firstName %> <%= locals.user.lastName %></p>
          <p>Fecha de Nacimiento</p>
          <p class="data"><%= locals.user.birthDate %></p>
          <p>Email</p> 
          <p class="data"><%= locals.user.email %></p>
        </div>
       </div>

      </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>