
<%- include('../partials/head', {styles:['edit', 'headerfooter'], title: 'Editar Usuario'}) %>
  <body>
    <%- include('../partials/header') %>

    <main class="EditUser">
      <!-- <div class="container"> -->
      <h1 class = "EditTitle">Editar Cuenta</h1>
      <!-- <div class = "EditData"> -->
      <form class = "EditData" action="/users/<%= user.id %>/edit?_method=PUT" method="post" enctype="multipart/form-data">
        <div class="edit_form_section">
          <label class="EditLabel" for="first_name">Nombre</label>
          <input class="EditInput" type="text" name="first_name" value="<%= user.first_name %>" required>
          <span id="first_name_error" class="error-span"><%= locals.errors?.first_name?.msg %></span>
        </div>
        <div class="edit_form_section">
          <label class="EditLabel" for="last_name">Apellido</label>
          <input class="EditInput" type="text" name="last_name" value="<%= user.last_name %>" required>
          <span id="last_name_error" class="error-span"><%= locals.errors?.last_name?.msg %></span>
        </div>
        <div class="edit_form_section">
          <label class="EditLabel" for="birth_date">Fecha de Nacimiento</label>
          <input class="EditInput" type="date" name="birth_date" value="<%= new Date(user.birth_date).toISOString().split('T')[0] %>" required>
          <span id="birth_date_error" class="error-span"><%= locals.errors?.birth_date?.msg %></span>
        </div>
        <div class="edit_form_section">
          <label class="EditLabel" for="avatar">Avatar</label>
          <input type="file" name="avatar" accept="image/*">
          <span id="avatar_error" class="error-span"><%= locals.errors?.avatar?.msg %></span>
        </div>
      <!-- </div> -->
      <div class="ButtonContainer">
       <button class="UpdateButton" type="submit">Guardar Cambios</button>
      </form>      
      <form action="/users/<%= user.id %>/delete" method="post">
        <button class="DeleteButton"  type="submit" onclick="return confirm('¿Estás seguro de que quieres eliminar tu cuenta?')">Eliminar Mi Cuenta</button>
      </form>
      </div>
      <!-- </div> -->
    </main>

    <%- include('../partials/footer') %>
    <script src="/js/validations/users/validateEditUser.js"></script>

  </body>
</html>