<%- include('../partials/head', {styles:['list', 'headerfooter'], title: 'Lista de Usuarios'}) %>
  <body>
    <%- include('../partials/header') %>

    <main>
      <div class="container">
      <h1 class = 'ListTitle'>Lista de Usuarios</h1>
      <ul class="UsersList">
        <% users.forEach(user => { %>
          <li><a href="/users/<%= user.id %>"><%= user.first_name %> <%= user.last_name %></a></li>
        <% }) %>
      </ul>
      </div>
    </main>

    <%- include('../partials/footer') %>
  </body>
</html>