<%- include('../partials/head', {styles:['register', 'headerfooter'], title: 'Registrarse'}) %>
  <body>
    <%- include('../partials/header') %>

    <main>
      <form class="register_form" action="/users/register" method="post" enctype="multipart/form-data">
        <h1 class="register_title">CREAR CUENTA</h1>

        <div class="register_form_section">
          <label class="register_form_label" for="firstName">Nombre</label>
          <input class="register_form_input" type="text" name="firstName" id="register_firstName" value="<%= locals.oldData?.firstName%>" />
          <% if(locals.errors?.firstName){ %>
            <span><%= locals.errors.firstName.msg %></span>
          <% } %>
        </div>

        <div class="register_form_section">
          <label class="register_form_label" for="lastName">Apellido</label>
          <input class="register_form_input" type="text" name="lastName" id="register_lastName" value="<%= locals.oldData?.lastName%>"  />
          <% if(locals.errors?.lastName){ %>
            <span><%= locals.errors.lastName.msg %></span>
          <% } %>
        </div>

        <div class="register_form_section">
          <label class="register_form_label" for="birthDate">Fecha de Nacimiento</label>
          <input class="register_form_input" type="date" name="birthDate" id="register_birthDate" value="<%= locals.oldData?.birthDate %>"  />
          <% if(locals.errors?.birthDate){ %>
            <span><%= locals.errors.birthDate.msg %></span>
          <% } %>
        </div>
        
        <div class="register_form_section">
          <label class="register_form_label" for="avatar">Seleccione Foto de Perfil</label>
          <input class="register_form_input" type="file" name="avatar" id="register_avatar" />
          <% if(locals.errors?.avatar){ %>
            <span><%= locals.errors.avatar.msg %></span>
          <% } %>
        </div>

        <div class="register_form_section">
          <label class="register_form_label" for="mail">Correo Electrónico:</label>
          <input class="register_form_input" type="email" name="mail" id="register_mail" value="<%= locals.oldData?.mail%>"  />
          <% if(locals.errors?.email){ %>
            <span><%= locals.errors.email.msg %></span>
          <% } %>
        </div>

        <div class="register_form_section">
          <label class="register_form_label" for="password">Contraseña:</label>
          <input class="register_form_input" type="password" name="password" id="register_password" />
          <% if(locals.errors?.password){ %>
            <span><%= locals.errors.password.msg %></span>
          <% } %>
        </div>

        <div class="register_form_section">
          <label class="register_form_label" for="confirmPassword">Confirmar Contraseña:</label>
          <input class="register_form_input" type="password" name="confirmPassword" id="register_confirm_password" />
          <% if(locals.errors?.confirmPassword){ %>
            <span><%= locals.errors.confirmPassword.msg %></span>
          <% } %>
        </div>

        <div class="register_form_section">
          <input class="register_terms_check" type="checkbox" name="termsCheck" id="register_terms_check" <%= locals.oldData?.termsCheck && "checked" %> required />
          <label class="register_terms_check_label" for="termsCheck">Acepto los términos y condiciones</label>
        </div>

        <button class="register_form_btn" type="submit">Registrarme</button>
      </form>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
