<%- include('../partials/head', {styles:['register', 'headerfooter'], title: 'Registrarse'}) %>
  <body>
    <%- include('../partials/header') %>

    <main>
      <form class="register_form" action="/users/register" method="post" enctype="multipart/form-data">
        <h1 class="register_title">CREAR CUENTA</h1>

        <div class="register_form_section">
          <label class="register_form_label" for="first_name">Nombre</label>
          <input class="register_form_input" type="text" name="first_name" id="register_firstName" value="<%= locals.oldData?.first_name %>" />
          <span id="first_name_error" class="error-span"><%= locals.errors?.first_name?.msg %></span>
        </div>

        <div class="register_form_section">
          <label class="register_form_label" for="last_name">Apellido</label>
          <input class="register_form_input" type="text" name="last_name" id="register_lastName" value="<%= locals.oldData?.last_name %>"  />
          <span id="last_name_error" class="error-span"><%= locals.errors?.last_name?.msg %></span>          
        </div>

        <div class="register_form_section">
          <label class="register_form_label" for="birth_date">Fecha de Nacimiento</label>
          <input class="register_form_input" type="date" name="birth_date" id="register_birthDate" value="<%= locals.oldData?.birth_date %>"  />
          <span id="birth_date_error" class="error-span"><%= locals.errors?.birth_date?.msg %></span>
        </div>
        
        <div class="register_form_section">
          <label class="register_form_label" for="avatar">Seleccione Foto de Perfil</label>
          <input class="register_form_input" type="file" name="avatar" id="register_avatar" />
          <span id="avatar_error" class="error-span"></span>
        </div>

        <!-- Otros campos del formulario -->

        <div class="register_form_section">
          <label class="register_form_label" for="email">Correo Electrónico:</label>
          <input class="register_form_input" type="email" name="email" id="register_mail" value="<%= locals.oldData?.email%>" />
          <span id="email_error" class="error-span"><%= locals.errors?.email?.msg %></span>
        </div>

        <div class="register_form_section">
          <label class="register_form_label" for="password">Contraseña:</label>
          <input class="register_form_input" type="password" name="password" id="register_password" />
          <span id="password_error" class="error-span"><%= locals.errors?.password?.msg %></span>
        </div>

        <div class="register_form_section">
          <label class="register_form_label" for="confirmPassword">Confirmar Contraseña:</label>
          <input class="register_form_input" type="password" name="confirmPassword" id="register_confirm_password" />
          <span id="confirm_password_error" class="error-span"></span>
        </div>

        <div class="register_form_section">
          <input class="register_terms_check" type="checkbox" name="termsCheck" id="termsCheck" <%= locals.oldData?.termsCheck && "checked" %> required />
          <label class="register_terms_check_label" for="termsCheck">Acepto los términos y condiciones</label>
          
        </div>

        <button class="register_form_btn" type="submit">Registrarme</button>
      </form>
  </main>
    <%- include('../partials/footer') %>
  <script src="/js/validations/users/validateRegister.js"></script>
</body>
</html>