<%- include('../partials/head', {styles:['user', 'headerfooter'], title: 'Detalles del Usuario'}) %>
  <body>
    <%- include('../partials/header') %>

    <main>
        <div class="container">
      <h1 class="UserDatailTitle">Detalles del Usuario</h1>
      <div class="UserDatailInfo">
        <p><strong>Nombre:</strong> <%= user.first_name %></p>
        <p><strong>Apellido:</strong> <%= user.last_name %></p>
        <p><strong>Fecha de Nacimiento:</strong> <%= user.birth_date.toISOString().split('T')[0] %></p>
        <p><strong>Email:</strong> <%= user.email %></p>
        <div class="UserAvatar">
        <p><strong>Avatar:</strong> <img src="/img/users/profile/<%=locals.user.avatar%>" alt=""></p>
    </div>  
    </div>
      </div>
    </main>

    <%- include('../partials/footer') %>
  </body>
</html>
